

.produit{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-image: url('./Image/Ordinateur_Background2.jpg');
    background-size: cover;
    background-color: darkblue;
    height: 41.5em;
    width: 100vw;
    color: white;
    margin-top: 0px;
    padding-top: 0px;
}



